<header class="navbar navbar-light">
	<%= link_to "Event.io", root_path, class: "navbar-brand" %>
	<ul class="nav">
		<li class="nav-item">
			<%= link_to "New", new_event_path, class: "nav-link" %>
		</li>
		<li class="nav-item">
			<%= link_to "Events", events_path, class: "nav-link" %>
		</li>
		<li class="nav-item">
			<%= link_to "Users", users_path, class: "nav-link" %>
		</li>
		<% if !logged_in? %>
			<li class="nav-item">
				<%= link_to "Sign Up", signup_path, class: "nav-link" %>
			</li>
			<li class="nav-item">
				<%= link_to "Log In", login_path, class: "nav-link" %>
			</li>
		<% else %>
			<li class="nav-item">
				<%= link_to "Account", current_user, class: "nav-link" %>
			</li>
			<li class="nav-item">
				<% notifications = current_user.received_invitations.count %>
				<%= link_to "Notifications #{notifications == 0 ? "" : "(#{notifications})"}", notifications_path, class: "nav-link" %>
			</li>
			<li class="nav-item">
				<%= link_to "Log Out", logout_path, method: :delete, class: "nav-link" %>
			</li>
		<% end %>
	</ul>
</header>